name: docsonnet
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-image.yml
      - .github/workflows/docsonnet.yml
      - jsonnet-libs/docsonnet/*
  workflow_dispatch:
jobs:
  version:
    strategy:
      matrix:
        version: ["latest"]
    name: "${{ matrix.version }}"
    uses: ./.github/workflows/publish-image.yml
    with:
      version: "${{ matrix.version }}"
      organization: jsonnet-libs
      repository: docsonnet
    secrets: inherit
