name: grafonnet
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-image.yml
      - .github/workflows/grafonnet.yml
      - grafana/grafonnet/*
  workflow_dispatch:
jobs:
  version:
    strategy:
      matrix:
        version: ["latest", "v11.4.0", "v10.4.0", "v9.5.0"]
    name: "${{ matrix.version }}"
    uses: ./.github/workflows/publish-image.yml
    with:
      version: "${{ matrix.version }}"
      organization: grafana
      repository: grafonnet
      build_args: |
        GRAFONNET_VERSION=${{ matrix.version }}
    secrets: inherit
